.switcher {
  border: 1px solid $msBlue;
  border-radius: 5px;
  display: inline-block;
  margin: 1em auto;
  overflow: hidden;
  font-size: $small;
  padding: 0 !important;

  .item {
    padding: 0.3em 4em;
    position: relative;
    display: inline-block;
    color: $msBlue;
  }

  .active,
  :hover {
    background-color: $msBlue;
    color: $white;
    text-decoration: none;
  }
}