- extends "base.jade"
- load static from staticfiles

- block title
  | Labas rytas

- block middle
  .photo-box.index
    .ui.page.grid
      .doubling.two.column.row
        .column.center.aligned
          img(src="{% static 'img/logo-white.png' %}").logo
          h1.title Stebėk kaip dirba seimo nariai
        .column
          .stats-box
            h2 Some cool stats
            ul
              li One
              li Two
              li Three

  .colored-bg
    - include "components/switcher.jade" with items=items

    .ui.page.grid
      .fraction.box
        img(src="{% static 'img/fractions/lsdp.png' %}")
        .info
          h2: a(href="{% url 'fraction' %}") Lietuvos socialdemokratų partijos frakcija
          p 23 nariai

      .fraction.box
        img(src="{% static 'img/fractions/ts-lkd.png' %}")
        .info
          h2 Tėvynės sąjunga - Lietuvos kirkš-čionys demokratai
          p 23 nariai

      .fraction.box
        img(src="{% static 'img/fractions/tt.png' %}")
        .info
          h2 Tvarka ir teisingumas frakcija
          p 23 nariai

      .fraction.box
        img(src="{% static 'img/fractions/ts-lkd.png' %}")
        .info
          h2 Tėvynės sąjunga - Lietuvos kirkš-čionys demokratai
          p 23 nariai

      .fraction.box
        img(src="{% static 'img/fractions/lsdp.png' %}")
        .info
          h2 Lietuvos socialdemokratų partijos frakcija
          p 23 nariai


  .widget
    img(src="{% static 'img/widget.png' %}")

    .widget-box
      h3 Įsidėkite šį valdiklį (widget) į savo svetainę!
      img(src="{% static 'img/widget_include.png' %}")
      div: a(href="http://manoseimas.lt/widget/builder").ui.green.wide.button Skaityti instrukciją


  .colored-bg
    .ui.center.aligned.stackable.page.grid
      .twelve.wide.column
        .test-box
          h2 Politinio suderinamumo testas
          p.text-muted Atlik testą, sudarytą iš svarbiausių 2008-2012 m. Seime vykusių   balsavimų, ir sužinok, kurie Seimo nariai ir partijos balsavo taip, kaip   balsuotum tu.
          a(href="http://manoseimas.lt/testas/").ui.green.wide.button Pradėti testą
