- extends "base.jade"
- load static from staticfiles

- block title
  | Parlamentarai

- block middle
  .photo-box.single-title
      .transparent-bg: .title: h1 Seimo nariai
  //- .photo-box.index
  //-   .ui.page.grid
  //-     .doubling.two.column.row
  //-       .column.center.aligned
  //-         img(src="{% static 'img/logo-white.png' %}").logo
  //-         h1.title Stebėk kaip dirba seimo nariai
  //-       .column
  //-         .stats-box
  //-           h2 Some cool stats
  //-           ul
  //-             li One
  //-             li Two
  //-             li Three

  .ui.zero.margin.center.aligned.grid
    - include "components/switcher.jade" with items=items

  .ui.zero.margin.page.grid
    .fourteen.wide.column
      .parliamentarians
        .parliamentarian.box
          img(src="{% static 'img/tmp/petras.jpg' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Petras GRAŽULIS
            a(href="{% url 'fraction' %}").fraction-name Tvarka ir Teisingumas

        .parliamentarian.box
          img(src="{% static 'img/tmp/milda.png' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Milda PETRAUSKIENĖ
            a(href="{% url 'fraction' %}").fraction-name Lietuvos socialdemokratų partijos frakcija

        .parliamentarian.box
          img(src="{% static 'img/tmp/petras.jpg' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Petras GRAŽULIS
            a(href="{% url 'fraction' %}").fraction-name Tvarka ir Teisingumas

        .parliamentarian.box
          img(src="{% static 'img/tmp/milda.png' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Milda PETRAUSKIENĖ
            a(href="{% url 'fraction' %}").fraction-name Lietuvos socialdemokratų partijos frakcija

        .parliamentarian.box
          img(src="{% static 'img/tmp/petras.jpg' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Petras GRAŽULIS
            a(href="{% url 'fraction' %}").fraction-name Tvarka ir Teisingumas

        .parliamentarian.box
          img(src="{% static 'img/tmp/milda.png' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Milda PETRAUSKIENĖ
            a(href="{% url 'fraction' %}").fraction-name Lietuvos socialdemokratų partijos frakcija

        .parliamentarian.box
          img(src="{% static 'img/tmp/petras.jpg' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Petras GRAŽULIS
            a(href="{% url 'fraction' %}").fraction-name Tvarka ir Teisingumas

        .parliamentarian.box
          img(src="{% static 'img/tmp/milda.png' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Milda PETRAUSKIENĖ
            a(href="{% url 'fraction' %}").fraction-name Lietuvos socialdemokratų partijos frakcija

        .parliamentarian.box
          img(src="{% static 'img/tmp/petras.jpg' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Petras GRAŽULIS
            a(href="{% url 'fraction' %}").fraction-name Tvarka ir Teisingumas

        .parliamentarian.box
          img(src="{% static 'img/tmp/milda.png' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Milda PETRAUSKIENĖ
            a(href="{% url 'fraction' %}").fraction-name Lietuvos socialdemokratų partijos frakcija

        .parliamentarian.box
          img(src="{% static 'img/tmp/petras.jpg' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Petras GRAŽULIS
            a(href="{% url 'fraction' %}").fraction-name Tvarka ir Teisingumas

        .parliamentarian.box
          img(src="{% static 'img/tmp/milda.png' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Milda PETRAUSKIENĖ
            a(href="{% url 'fraction' %}").fraction-name Lietuvos socialdemokratų partijos frakcija

        .parliamentarian.box
          img(src="{% static 'img/tmp/petras.jpg' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Petras GRAŽULIS
            a(href="{% url 'fraction' %}").fraction-name Tvarka ir Teisingumas

        .parliamentarian.box
          img(src="{% static 'img/tmp/milda.png' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Milda PETRAUSKIENĖ
            a(href="{% url 'fraction' %}").fraction-name Lietuvos socialdemokratų partijos frakcija

        .parliamentarian.box
          img(src="{% static 'img/tmp/petras.jpg' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Petras GRAŽULIS
            a(href="{% url 'fraction' %}").fraction-name Tvarka ir Teisingumas

        .parliamentarian.box
          img(src="{% static 'img/tmp/milda.png' %}")
          .info
            h2: a(href="{% url 'parliamentarian' %}") Milda PETRAUSKIENĖ
            a(href="{% url 'fraction' %}").fraction-name Lietuvos socialdemokratų partijos frakcija

    .zero.paddings.two.wide.column
      .ui.sticky
        .sidebar
          a(href="{% url 'mps' %}").item.selected: h4 Visos frakcijos
          a(href="{% url 'mps' %}").item
            img(src="{% static 'img/fractions/lsdp.png' %}").logo
            .title: h4 Lietuvos socialdemokratų partijos frakcija
          a(href="{% url 'mps' %}").item
            img(src="{% static 'img/fractions/tt.png' %}").logo
            .title: h4 Tvarka ir Teisingumas

