@import 'css/variables';
@import 'css/photo-box';
@import 'css/elements';
@import 'css/parliamentarians';
@import 'css/parliamentarian';
@import 'css/transcripts';

// UI Fixtures to deal with bootstrap
.ui {
  input[type="search"], input[type="text"] {
    height: inherit;
  }

  .progress { height: inherit;}
  .pagination { height: inherit; }
}

.zero.paddings {
  padding: 0 !important;
}


.ui.zero.margin.page.grid,
.ui.zero.margin.center.aligned.grid {
  margin-top: 0 !important;
  margin-bottom: 0;
}

.ui.pagination.menu {
  padding: 0;
  .item {
    font-size: $small;
    padding: 0.7em 1em;
  }
}


// Jaro's styles
h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin-left: 0;
  small { margin-left: 5px; font-size: $small; }
}
h1 { font-size: $huge; }
h2 { font-size: $big; }



p.text-muted { color: $gray; }

a:hover { text-decoration: none; }

header {
  img.logo {
    margin: 7px 0;
  }
  .ui.grid > .row {
    padding-bottom: 0;
  }
}

#main-block {
  margin-top: 4.65em;
}

.colored-bg {
  background-color: $coloredBgColor;
  padding: 0 1em;
  border-bottom: 1px dashed $grayLite;
  border-top: 1px dashed $grayLite;
}


// Elements
// -----------

.stats-box {
  background-color: $white;
  border: 1px dashed $grayLite;
  border-radius: $borderRadius;
  width: 220px;
  display: inline-block;
  margin: 15px 10px;
  padding: 0 10px 10px;

  h3 {
    text-align: center;
    margin-bottom: 0;
  }

  .graph, .info, .block {
    display: inline-block;
    position: relative;
  }

  .pie { padding: 12px 0 5px; }

  .two-numbers {
    .block { width: 50%; }
  }

  .three-numbers {
    .block { width: 33%; }
  }

  .block {
    .number {
      text-align: center;
      font-size: $medium;
      margin-bottom: 3px;
    }
    .explanation {
      text-align: center;
      font-size: $tiny;
      line-height: 1.1;
      min-height: 34px;
    }
  }

  .graph { width: 44%;}
  .info {
    width: 55%;
    padding-left: 10px;
    height: 20px;

    .title {
      display: table;

      h3 {
        line-height: 1.2;
        display: table-cell;
        vertical-align: middle;
      }
    }
  }


  .rating {
    margin-top: 0.3rem;
    .progress {
      padding: 0;
      background-color: $grayLite;
      border-radius: $borderRadius;

      .bar {
        background-color: $greenDark !important;
        font-size: 5px;
      }
    }
  }

  .progress:last-child {
    margin: 0;
  }
}

.stats-box.total {
  background-color: transparent;
  padding: 10px 15px;
  width: 180px;
  float: right;

  h3 {
    font-size: $big;
    font-weight: bold;
    color: $msBlue;
  }
  .explanation {
    text-align: center;
    font-size: $small;
    font-weight: normal;
    color: $textColor;
  }

  .stats,
  .vertical-progress { display: inline-block; }
  .stats { width: 100px; padding-top: 10px; }

  .vertical-progress {
    margin-left: 10px;
    font-size: $normal;
    background-color: $grayLite;
    width: 32px;
    height: 100px;
    line-height: 1px;
    float: right;

    .bar {
      background-color: $msBlue;
      color: $white;

      display: table;

      height: 40px;      // Percents
      margin-top: 60px;  // 100 - height

      .text {
        font-size: 10px;
        display: table-cell;
        vertical-align: middle;
        padding: 0 5px;
        width: 5em;
      }
    }
  }
}



.box {
  margin: 10px;
  display: inline-block;
  background-color: $white;
  border: 1px dashed $grayLite;
  padding: 0.7rem 0.5rem 0.5rem 1rem !important;
  min-height: 110px;

  img { height: 80px; width: 80; margin-right: 5px; }

  .info {
    float: right;
    width: 175px;

    h2 {
      font-size: $normal;
      line-height: 1.2;
      font-weight: normal;
      margin-bottom: 0.3em;

      a { color: $textColor; }
      a:hover { color: $linkColor; text-decoration: none; }
    }
  }
}
.parliamentarian.box {
  width: 260px;
  margin: 0 7px 15px 7px;

  .info {
    width: 165px;
    a.fraction-name {
      font-size: $small;
      line-height: 0.5;
      color: $greenDark;
    }
    h2 { margin-bottom: 0.1em;}
  }
}
.fraction.box {
  width: 300px;

  .info p {
    font-size: $small;
    color: $grayLite;
    margin-bottom: 0;
  }
}


.ui.green.wide.button {
  width: 20em;
  color: $white;
  margin-top: 1em;
  font-weight: bold;
}


// Front page styles
// -----------------
.index {
  .column {
    padding: 2em;
  }
}

.ui.page.grid.fraction {
  margin: 1rem 0;
}

.widget {
  margin: 1em auto 5em auto;
  top: 40px;
  position: relative;
  text-align: center;

}

.widget-box {
  margin: -1em auto 1.8rem auto;
  min-height: 21rem;
  display: block;
  position: relative;
  text-align: center;
  border-radius: 0 0 5px 5px;
  border: 1px dashed $grayLite;
  border-top: none;
  width: 67em;
  padding: 2em;

  h3 {
    font-size: 24px;
    font-weight: normal;
    color: $msGreen;
    margin-bottom: 20px;
  }

  img {
    width: 500px;
    display: inline-block;

  }
}

.test-box {
  margin: 2em 0;
  p {
    margin: auto;
    width: 35em;
  }
}

.ui.sticky.fixed.top > .sidebar { margin-top: 70px; }
.sidebar {
  margin-top: 1em;
  .item {
    display: inline-block;
    background-color: $white;
    border: 1px solid $grayLite;
    padding: 0.5rem !important;
    padding-left: 1rem !important;
    margin-bottom: 0.5em;
    width: 13em;
    cursor: pointer;

    img { height: 40px; width: 40px; margin-right: 5px; cursor: inherit; }
    h4 { font-size: $small; line-height: 1.2; cursor: inherit; }

    .title {
      float: right;
      width: 8em;
      cursor: inherit;
    }
  }

  .item:hover, .item.selected {
    border-color: $greenDark;
    background-color: $greenDark;
    h4 { color: $white; }
  }
  .item.selected { padding: 0.8rem 1rem !important; }
}


// Fraction page styles
// --------------------

.decisions {
  padding-top: 3em;

  h3 { width: 19em; }
  h3.supports { color: $greenDark; }
  h3.abstention { color: $yellow; }
  h3.against {color: $redDark; }

  .decision {
    background-color: $white;
    width: 19em;
    height: max-content;
    margin-bottom: 1em;
    display: table;
    padding: 0.5em 0.7em;
    border: 1px dashed #EBEDFB;

    a {
      display: table-cell;
      vertical-align: middle;
      font-size: $normal;
      color: $textColor;
    }

    a:hover {
      color: lighten($textColor, 30%);
    }
  }
  .decision.support { border-color: $greenDark; border-left: 7px solid $greenDark; }
  .decision.lite-support { border-color: $greenLite; border-left: 7px solid $greenLite; }
  .decision.abstention { border-color: $yellow; border-left: 7px solid $yellow; }
  .decision.against { border-color: $redDark; border-left: 7px solid $redDark; }
  .decision.lite-against { border-color: $redLite; border-left: 7px solid $redLite; }
}


// Footer
// ------
footer {
  .ui{
    img {
      margin-right: 5px
    }

    .copyright {
      margin: 10px 20px;
      font-size: 85%;
      color: $textColor;
    }
  }
}
