.group
                a.name Seniūnų sueiga
                .membership-type Narys
              .group
                a.name Dzūkijos bičiulių parlamentinė grupė
                .membership-type Narys
              .group
                a.name Draugystės su Kalnų Karabachu grupė
                .membership-type Pirmininkas
              .group
                a.name Lietuvos Respublikos Seimo narių, padedančių spręsti kaimo bendruome...
                .membership-type Narys
              .group
                a.name Etikos ir procedūrų komisija
                .membership-type Narys